/* Apply border-radius to the table */
.table-container {
  border: 1px solid green;
  border-radius: 20px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: 200px;
  margin-right: 200px;
  overflow: hidden; /* Ensure the content respects the border-radius */
}

table {
  border-collapse: collapse; /* Ensures borders are collapsed */
  width: 100%;
}

/* Apply border to the table cells */
th, td {
  border: 1px solid green;
  padding: 8px;
}

.container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: aquamarine;
  margin-top: 50px;
  width: 450px;
}

.margin-custom {
  margin-left: 50px;
  margin-top: 12px;
}
.btn-space{
  margin-right: 10px;
}
