<div class="container">
  <div *ngIf="!formVisible">
    <button (click)="toggleForm()" class="btn btn-dark">Add New Data</button>
  </div>
  <div *ngIf="formVisible">
    <form [formGroup]="stdData" (ngSubmit)="onSubmitData()">
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>

      <div class="form-group">
        <label for="First_Name">First Name</label>
        <input type="text" class="form-control" formControlName="first_name" />
      </div>
      <div class="form-group">
        <label for="Last_Name">Last Name</label>
        <input type="text" class="form-control" formControlName="last_name" />
      </div>

      <div class="form-group">
        <label for="Avatar">Avatar</label>
        <input type="text" class="form-control" formControlName="avatar" />
      </div>

      <div class="form-group mt-4 st-4">
        <button class="btn btn-info margin-custom" type="submit">
          {{ isUpdate ? "Update" : "Submit" }}
        </button>
      </div>
    </form>
  </div>
</div>
<br />
<br />

<div class="table-container">
  <table>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Avatar</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let x of data1">
      <td>{{ x.id }}</td>
      <td>{{ x.email }}</td>
      <td>{{ x.first_name }}</td>
      <td>{{ x.last_name }}</td>
      <td><img [src]="x.avatar" alt="" /></td>
      <td>
        <button class="btn btn-danger btn-space" (click)="deleteApiData(x.id)">
          <i class="fas fa-trash-alt"></i> Delete
        </button>

        <button class="btn btn-primary" (click)="updateData1(x)">
          <i class="fas fa-edit"></i> Update
        </button>
      </td>
    </tr>
  </table>
</div>
